body {
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  height: 15px;
  margin: 5px;
  border-radius: 5px;
  border: 1px;
}

.button {
  width: 50px;
  margin-top: 10px;
}

.hello {
  position: relative;
  font-size: 25px;
  font-weight: bold;
  top: 130px;
}

.logout-icon {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50px;
  right: 20px;
}

.header {
  top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container {
  position: relative;
  top: 50px;
  width: 100%;
}

.search {
  position: relative;
  top: 200px;
}

.logo {
  scale: 1.2;
}

.button-container {
  position: relative;
  top: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  font-weight: 800;
  font-style: italic;
}

.key {
  flex-direction: column;
  font-size: 20px;
  font-weight: 800;
  font-style: italic;
}

.add-recipe {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 999px;
}

.round {
  position: relative;
  top: 170px;
  background-color: black;
  color: #e4aa08;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  z-index: 5;
}

@media only screen and (max-width: 844px) {

  .header {
    scale: 0.75;
  }

  .logout-icon {
    top: 590px;
    right: 0px;
    scale: 0.6;
  }

  .hello {
    top: 110px;
  }

  .button-container {
    top: 130px;
  }

  .search {
    top: 150px;
  }

  .round {
    top:130px;
  }

}