.App {
  text-align: center;
}

.input-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-line {
  display: flex;
  align-items: center;
}

input {
  height: 15px;
  margin: 5px;
}

.add-or-remove-last {
  display: flex;
}
